.non-profit-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.non-profit-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
    width: 300px;
    height: 200px;
    margin-top: 5%;
}

.non-profit-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.non-profit-details {
    display: flex;
    width: 60%;
    height: 100%;
    flex-direction: column;
}

.non-profit-donations {
    margin-top: 5px;
}

.non-profit-button {
    background-color: white;
}

