header {
    display: flex;
    width: 100vw;
    height: 60px;
    max-width: 100%;
    background-color: black;
    margin: 0px;
    padding: 0px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    --link-color: white;
}

.logo {
    position: relative;
    left: 10%;
    cursor: pointer;
    text-decoration: none;   
}


/** Navbar **/
.navbar {
    width: 100%;
    height: 100%;
    margin-left: 10%;
    margin-right: 5%;
}

.navbar ul {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

.navbar li {
    width: 5em;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    cursor: pointer;
}

.navbar li a {
    color: var(--link-color);
    text-decoration: none;
}

.navbar li a:hover {
    color: grey;
}

/** Utilities **/
.flex {
    display: flex;
    justify-content: center;
    align-items: center;    
}
