header {
    display: flex;
    width: 100vw;
    height: 60px;
    background-color: #242526;
    border-bottom: solid 1px #3A3B3C;
}

.logo {
    display: flex;
    align-items: center;
    justify-self: start;
    text-decoration: none;
    cursor: pointer;
    margin-left: 3%;
}

.nav {
    display: flex;
    width: 100%;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
    height: auto;
}

.login {
    margin-left: auto;
    margin-right: 3%;
}

.login-button {
    width: 6em;
    height: 35px;
    border-radius: 15px;
    border: none;
    outline: none;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}
